/* Your custom styles */
tr.high {
    background-color: #b71c1c1a!important;
        color: #b71c1c;
}

tr.medium {
    background-color: #ff6f001a!important;
      color: #ff6f00;
}

tr.informative {
    background-color: #4caf501a!important;
    color: #4caf50;
}

tr.low {
    background-color: #ffc1071a!important;
    color: #ffc107;
}
td.center {
    width: 25%;
    font-size: 1.05em;
}

th {
  
    font-size: 1.05em;
}


initCharts('chart-high','#b71c1c');
initCharts('chart-medium','#ff6f00');
initCharts('chart-low','#ffc107');
initCharts('chart-informative','#4caf50');

/*Googel Now MDL loading */

#loader{
	
}
#loader-8 #loader:nth-of-type(1){
	position: relative;
    top: 30%;
    left: 39%;
    z-index: 2;
	
	height: 2vw;
	width: 2vw;
	/*border-radius: 100%;
	background: blue;*/
	margin: 0.8vw;
	background: url('images/a2.png') no-repeat;
	background-size: 80%;
	-webkit-animation: jump 1.8s infinite ease-in-out;
	-moz-animation: jump 1.8s infinite ease-in-out;
	-o-animation: jump 1.8s infinite ease-in-out;
		animation: jump 1.8s infinite ease-in-out;
}

#loader-8 #loader:nth-of-type(2){
	position: relative;

       top: 30%;
    left: 39%;
    z-index: 2;
	height: 2vw;
	width: 2vw;
	/*border-radius: 100%;
	background: blue;*/
	margin: 0.8vw;
	background: url('images/l.png') no-repeat;
	background-size: 66%;
	-webkit-animation: jump 1.8s 0.2s infinite ease-in-out;
	-moz-animation: jump 1.8s 0.2s infinite ease-in-out;
	-o-animation: jump 1.8s 0.2s infinite ease-in-out;
		animation: jump 1.8s 0.2s infinite ease-in-out;
}

#loader-8 #loader:nth-of-type(3){
	position: relative;

        top: 30%;
    left: 39%;
    z-index: 2;
	height: 2vw;
	width: 2vw;
	/*border-radius: 100%;
	background: blue;*/
	margin: 0.8vw;
	
	background: url('images/t.png') no-repeat;
	background-size: 80%;
	-webkit-animation: jump 1.8s 0.4s infinite ease-in-out;
	-moz-animation: jump 1.8s 0.4s infinite ease-in-out;
	-o-animation: jump 1.8s 0.4s infinite ease-in-out;
		animation: jump 1.8s 0.4s infinite ease-in-out;
}

#loader-8 #loader:nth-of-type(4){
	position: relative;

        top: 30%;
    left: 39%;
    z-index: 2;
	height: 2vw;
	width: 2vw;
	/*border-radius: 100%;
	background: blue;*/
	margin: 0.8vw;
	
	background: url('images/r.png') no-repeat;
	background-size: 80%;
	-webkit-animation: jump 1.8s 0.6s infinite ease-in-out;
	-moz-animation: jump 1.8s 0.6s infinite ease-in-out;
	-o-animation: jump 1.8s 0.6s infinite ease-in-out;
		animation: jump 1.8s 0.6s infinite ease-in-out;
}

#loader-8 #loader:nth-of-type(5){
	position: relative;

        top: 30%;
    left: 39%;
    z-index: 2;
	height: 2vw;
	width: 2vw;
	/*border-radius: 100%;
	background: blue;*/
	margin: 0.8vw;
	
	background: url('images/a2.png') no-repeat;
	background-size: 80%;
	-webkit-animation: jump 1.8s 0.8s infinite ease-in-out;
	-moz-animation: jump 1.8s 0.8s infinite ease-in-out;
	-o-animation: jump 1.8s 0.8s infinite ease-in-out;
		animation: jump 1.8s 0.8s infinite ease-in-out;
}

#loader-8 #loader:nth-of-type(6){
	position: relative;

       top: 30%;
    left: 39%;
    z-index: 2;
	height: 2vw;
	width: 2vw;
	/*border-radius: 100%;
	background: blue;*/
	margin: 0.8vw;
	
	background: url('images/n.png') no-repeat;
	background-size: 80%;
	-webkit-animation: jump 1.8s 1s infinite ease-in-out;
	-moz-animation: jump 1.8s 1s infinite ease-in-out;
	-o-animation: jump 1.8s 1s infinite ease-in-out;
		animation: jump 1.8s 1s infinite ease-in-out;
}

@-webkit-keyframes jump{
	0%{
		top: 30%;
	}
	50%{
		top: 28.5%;
	}
	100%{
		top: 30%;
	}
}

@-moz-keyframes jump{
	0%{
		top: 30%;
	}
	50%{
		top: 28.5%;
	}
	100%{
		top: 30%;
	}
}

@-o-keyframes jump{
	0%{
		top: 30%;
	}
	50%{
		top: 28.5%;
	}
	100%{
		top: 30%;
	}
}

@keyframes jump{
	0%{
		top: 30%;
	}
	50%{
		top: 41.5%;
	}
	100%{
		top: 30%;
	}
}

.load-wrapper{
	z-index:1;
	position:absolute;
	display: none;
		width: 100%;
		height: 100%;
        top     : 0;
        left    : 0;
}

#overlay_loading {
    width: 100%;
    height: 100%;
    background: #FFF;
    display: none;
    position: absolute;
    opacity: 0.4;
     top     : 0;
        left    : 0;
}


.btn-primary {
    background-color: #017eaf!important;
}


.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem;
}

.card {
    border: 0;
    border-radius: .25rem;
    margin-top: 9px;
}

 /* low modal color*/

.modal-dialog.modal-notify.modal-low .modal-header {
  background-color: #ffc107; }

.modal-dialog.modal-notify.modal-low .fa {
  color: #ffc107; }

.modal-dialog.modal-notify.modal-low .badge {
  background-color: #ffc107; }
  
.btn-outline-low {
  border: 2px solid #ffc107 !important;
  background-color: transparent !important;
  color: #ffc107 !important; }
  .btn-outline-low:hover, .btn-outline-low:focus, .btn-outline-low:active, .btn-outline-low:active:focus, .btn-outline-low.active {
    border-color: #ffc107 !important;
    background-color: transparent !important;
    color: #ffc107 !important; }
  .btn-outline-low:not([disabled]):not(.disabled):active, .btn-outline-low:not([disabled]):not(.disabled).active,
  .show > .btn-outline-low.dropdown-toggle {
    background-color: transparent !important;
    border-color: #ffc107 !important; }
    
   /* high modal color*/  
    
.modal-dialog.modal-notify.modal-high .modal-header {
  background-color: #b71c1c; }

.modal-dialog.modal-notify.modal-high .fa {
  color: #b71c1c; }

.modal-dialog.modal-notify.modal-high .badge {
  background-color: #b71c1c; }
  
.btn-outline-high {
  border: 2px solid #b71c1c !important;
  background-color: transparent !important;
  color: #b71c1c !important; }
  .btn-outline-high:hover, .btn-outline-high:focus, .btn-outline-high:active, .btn-outline-high:active:focus, .btn-outline-high.active {
    border-color: #b71c1c !important;
    background-color: transparent !important;
    color: #b71c1c !important; }
  .btn-outline-high:not([disabled]):not(.disabled):active, .btn-outline-high:not([disabled]):not(.disabled).active,
  .show > .btn-outline-high.dropdown-toggle {
    background-color: transparent !important;
    border-color: #b71c1c !important; }
  
   /* medium modal color*/
  .modal-dialog.modal-notify.modal-medium .modal-header {
  background-color: #ff6f00; }

.modal-dialog.modal-notify.modal-medium .fa {
  color: #ff6f00; }

.modal-dialog.modal-notify.modal-medium .badge {
  background-color: #ff6f00; }
  
.btn-outline-medium {
  border: 2px solid #ff6f00 !important;
  background-color: transparent !important;
  color: #ff6f00 !important; }
  .btn-outline-medium:hover, .btn-outline-medium:focus, .btn-outline-medium:active, .btn-outline-medium:active:focus, .btn-outline-medium.active {
    border-color: #ff6f00 !important;
    background-color: transparent !important;
    color: #ff6f00 !important; }
  .btn-outline-medium:not([disabled]):not(.disabled):active, .btn-outline-medium:not([disabled]):not(.disabled).active,
  .show > .btn-outline-medium.dropdown-toggle {
    background-color: transparent !important;
    border-color: #ff6f00 !important; }
    
 /* informative modal color*/
      .modal-dialog.modal-notify.modal-informative .modal-header {
  background-color: #4caf50; }

.modal-dialog.modal-notify.modal-informative .fa {
  color: #4caf50; }

.modal-dialog.modal-notify.modal-informative .badge {
  background-color: #4caf50; }
  
.btn-outline-informative {
  border: 2px solid #4caf50 !important;
  background-color: transparent !important;
  color: #4caf50 !important; }
  .btn-outline-informative:hover, .btn-outline-informative:focus, .btn-outline-informative:active, .btn-outline-informative:active:focus, .btn-outline-informative.active {
    border-color: #4caf50 !important;
    background-color: transparent !important;
    color: #4caf50 !important; }
  .btn-outline-informative:not([disabled]):not(.disabled):active, .btn-outline-informative:not([disabled]):not(.disabled).active,
  .show > .btn-outline-informative.dropdown-toggle {
    background-color: transparent !important;
    border-color: #4caf50 !important; }
  /* */  
  
  
img#altran {
    width: 36%!important;
    margin-right: 37px;
    margin-left: -22px;
}


img#tim {
    width: 22%!important;
    margin-left: -14px;
}
