/* Overlay */
html, body {
	background: none !important;
  /*
  height: 100% !important;
  */
}

#container {
  background: #fff;
  width: auto;
  /*
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -50px;
  */
}

div#header a {
  color: #b31e23 !important;
}

div#container {
  width: 100% !important;
  min-width: 750px !important;
}

#content {
  /*width: 100% !important;*/
  /*margin: auto !important;*/
}

.error {
  color: #b31e23 !important;
  font-weight: bold;
}

table {
  width: 100% !important;
}

.message th:nth-child(1) {
  width: 20% !important;
}
.message th:nth-child(2) {
  width: 30% !important;
}
.message th:nth-child(3) {
  width: 30% !important;
}
.message th:nth-child(4) {
  width: 20% !important;
}

.input.attached.focus {
  outline-style: none;
}

#poweredBy {
  /*right: 150px !important;*/
  right: inherit !important;
  left: 10px !important;
}

#providedBy {
  font-size:0.8em;
  color:#ccc;
  padding:5px 15px;
  text-align:center;
  position: fixed;
  bottom: 10px;
  left: 180px;
  /*right: 10px;*/
  box-shadow: inset 0 0 3px white, 0 0 2px black, inset 0 0 4px black;
  text-shadow: 0 0 2px black;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.3)
}

#providedBy a {
  color:inherit;
}

#providedBy .altair-logo {
  height: auto;
  width: 100px;
  vertical-align: -5px;
  border: none;
  -webkit-filter: drop-shadow(0 0 4px black);
  filter: drop-shadow(0 0 4px black);
  ms-filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444');
  filter: progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444');
}

.scroll-up {
  /*top: 46px !important;*/
  right: 450px !important;
}
