/* Overlay */
body {
	background: none;
}
/*
body {
  background-image: url('../images/backdrop-custom-satisfaction.jpg');
  background-image: url('../images/backdrop-condomini.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
*/
html, body {
  height: 100%;
}
#header {
  background: #fff;
}
#container {
  background: rgba(255, 255, 255, 0.75);
  width: auto;
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -50px;
}

.error {
  color: #b31e23 !important;
  font-weight: bold;
  /*font-size: 10px;*/
}
/*
.error::after {
  content: "Campo obbligatorio";
}
*/

form, #reply {
  margin-bottom: 50px;
}

div#container {
  width: 100% !important;
  min-width: 750px !important;
}

#content {
  /*width: 85% !important;
  margin: auto !important;*/
}

.main-content {
	width: 100%;
  min-width: 565px !important;
  text-align: justify;
}

.sidebar {
	/*width: 25%;*/
  min-width: 215px !important;
}

table {
  width: 100% !important;
}

a {
  color: #14576c !important;
  text-decoration: none !important;
  margin-bottom: 0px !important;
}
a:hover {
  color: #c1191a !important;
  border-bottom: none !important;
}

.message th:nth-child(1) {
  width: 20% !important;
}
.message th:nth-child(2) {
  width: 30% !important;
}
.message th:nth-child(3) {
  width: 30% !important;
}
.message th:nth-child(4) {
  width: 20% !important;
}

h1 {
    color: #0c5c73;
    font-weight: normal;
    font-size: 20px;
}

input[type="button"], input[type="reset"], input[type="submit"] {
	background: #222;
	display: inline-block;
	font-size: 16px;
	padding: 8px 16px 6px 16px;
	max-width: 220px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	/*margin-bottom: 35px;*/
  margin-bottom: 0px !important;
	cursor: pointer;
	font-family: helvetica, arial, sans-serif;
	border: none;
}
input[type="submit"], input[type="submit"]:visited {
	color: #FFF;
	background: #c1191a;
	border-color: #b31e23;
	background-image: linear-gradient(to bottom, #c1191a 0%, #991316 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFc1191a', endColorstr='#FF991316', GradientType=0);
	border-color: #991316;
}
input[type="reset"], input[type="reset"]:visited {
	color: #FFF;
	background: #14576c;
	border-color: #0a5064;
	background-image: linear-gradient(to bottom, #14576c 0%, #0D3744 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF14576c', endColorstr='#FF0D3744', GradientType=0);
	border-color: #0D3744;
}

.button,
.button:visited {
  border-bottom: 0;
}
.button, .button:visited, .green.button, .green.button:visited {
	color: #fff !important;
	background: #14576c;
	border-color: #0a5064;
	background-image: linear-gradient(to bottom, #14576c 0%, #0D3744 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF14576c', endColorstr='#FF0D3744', GradientType=0);
	border-color: #0D3744;
}
.blue.button, .blue.button:visited {
	color: #FFF !important;
	background: #c1191a;
	border-color: #b31e23;
	background-image: linear-gradient(to bottom, #c1191a 0%, #991316 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFc1191a', endColorstr='#FF991316', GradientType=0);
	border-color: #991316;
}

#clientLogin input[type="submit"], #clientLogin input[type="submit"]:visited {
	color: #FFF;
	background: #14576c;
	border-color: #0a5064;
	background-image: linear-gradient(to bottom, #14576c 0%, #0D3744 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF14576c', endColorstr='#FF0D3744', GradientType=0);
	border-color: #0D3744;
}

#nav {
  margin: 0px;
	padding: 2px 10px;
	height: 40px;
  background: #fff;
	border-top: 1px solid #aaa;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
}
#nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}
#nav li {
	list-style: none;
}
#nav li a {
  display: inline-block;
	width: auto;
	height: 20px;
	line-height: 20px;
	text-align: center;
	padding: 0 10px 0 32px;
	margin: 10px;
	font-size: 15px;
  color: #aaa !important;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  text-decoration: none !important;
}
#nav li a.active, #nav li a:hover {
	color: #14576c !important;
  background-color: transparent !important;
}

.flush-left {
	text-align: left;
}

#content {
  padding: 150px 0;
}

#footer {
  background: #fff;
	text-align: center;
	font-size: 11px;
	color: #333;
	border-top: 1px solid #aaa;
	box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.4);
}
#footer #poweredBy {
  display:inline-block !important;
  width: 126px !important;
  height: 23px !important;
  outline: none !important;
  text-indent: none !important;
  margin: 0 auto !important;
  background: url('../images/poweredby.png') top left no-repeat !important;
  background-size: auto 20px !important;
}
#footer #providedBy {
  display:inline-block;
  width: 217px;
  height: 23px;
  outline: none;
  margin: 0 auto;
  background: url('../images/providedby.png') top left no-repeat;
  background-size: auto 20px;
}
